@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body > h1 {
    text-align: center;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 20em;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    z-index: 1000;
    border: 2px solid #003A56;
}
.form-section {
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group-inline {
    display: flex;
    gap: 3%;
    padding: 10px;
}

.title-info {
    font-size: 1.7em;
    font-family: 'Poppins';
    font-weight: 300;
    padding-bottom: 1em;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.field-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    height: auto;
    width: 45%;
    background-color: #2C485F;
}

